<!DOCTYPE html>
 <html>  
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> OTP Verification</title>
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
      <style>
          h3 {text-align: center;}
          .content {
    max-width: 380px;
    margin: auto;
  }
      </style>
    </head>  
   <body>  
  <form action = "/validate" method="POST">   
 <h3> OTP has been sent to the email id. Please check the email for the confirmation.</h4> 
 <div class="content" >
  <label for="exampleInputEmail1" class="form-label">Enter OTP(One-time password):</label>
  <input type="text" name="otp">  
 <input type="submit" value="Submit"> 
</div>  
 </form>  
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
 </body>  
 </html>   
 